
.searchBar{
	text-align:center;
	margin-left: -10%;
}
label{
	margin: auto;
	text-align: center;
	line-height: 25px;
	color: rgba(100,100,100,0.5);
	width: 10%;
	height: 30px;
	cursor: pointer;
	border: 1px solid rgba(100,100,100,0.5);
	border-radius: 5px;
	display: inline-block;
	position: absolute;
	transition: 0.5s ease;
	
}
label:hover{
	color: rgba(255, 63, 24,1);
	border: 1px solid rgba(255, 63, 24,0);
	box-shadow: 0 0 5px 1px rgba(255, 63, 24,1);
}
label:focus{
	color: rgba(255, 63, 24,1);
	border: 1px solid rgba(255, 63, 24,0);
	box-shadow: 0 0 5px 1px rgba(255, 63, 24,1);
}
input{
	outline: none;
	width: 36%;
	height: 30px;
	border: 1px solid rgba(100,100,100,0.5);
	border-radius: 5px;
	padding: 3px;
	display: inline-block;
	position: relative;
	margin-right: 5px;
	color: rgba(100,100,100,1);
	transition: 0.5s ease;
	margin-bottom: 5px;
}
::placeholder{
	color: rgba(100,100,100,0.5);
}
input:focus{
	box-shadow: 0 0 5px 0.5px rgba(255, 63, 24,1);
}
input:hover{
	border: 1px solid rgba(255, 63, 24,1);
}
button{
	visibility: hidden;
	position: absolute;
}